version: "{build}"

clone_folder: c:\projects\src\github.com\btcsuite\btcwallet

environment:
 PATH: c:\projects\bin;%PATH%
 GOPATH: c:\projects
 GORACE: halt_on_error=1

install:
 - go version
 - go get -v -t ./...

build_script:
 - go build ./...

test_script:
 - go test -v -race ./...
